# Backend - silakan sesuaikan sebelum `go run .` atau `docker compose up`
DB_HOST=localhost
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_NAME=essay_scoring
JWT_SECRET=isi-dengan-random-secret-panjang
GEMINI_API_KEY=AIzaSyXXXXXXXXXXXXXX
GEMINI_DAILY_TOKEN_LIMIT=250000
GEMINI_LIMIT_RPM=5
GEMINI_LIMIT_TPM=250000
GEMINI_LIMIT_RPD=20
AI_GRADING_WORKERS=1
FRONTEND_ORIGIN=http://localhost:3000

# Frontend - bila perlu override URL backend (NextJS)
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080/api
