--
-- PostgreSQL database dump
--

\restrict kHEm4JH6eTLWyqRwFS7CQwLONudlpjQGobFUDcAbrn7okcKN4wppS9lHovor9HS

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: user_role; Type: TYPE; Schema: public; Owner: user
--

CREATE TYPE public.user_role AS ENUM (
    'student',
    'teacher',
    'superadmin'
);


ALTER TYPE public.user_role OWNER TO "user";

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admin_audit_logs; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.admin_audit_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    actor_id uuid NOT NULL,
    action text NOT NULL,
    target_type text NOT NULL,
    target_id text,
    metadata jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.admin_audit_logs OWNER TO "user";

--
-- Name: ai_api_usage_logs; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.ai_api_usage_logs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    feature text NOT NULL,
    model_name text NOT NULL,
    status text NOT NULL,
    error_type text,
    error_message text,
    prompt_tokens bigint DEFAULT 0 NOT NULL,
    candidates_tokens bigint DEFAULT 0 NOT NULL,
    total_tokens bigint DEFAULT 0 NOT NULL,
    response_time_ms bigint DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.ai_api_usage_logs OWNER TO "user";

--
-- Name: ai_grading_cache; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.ai_grading_cache (
    request_hash text NOT NULL,
    score text NOT NULL,
    feedback text NOT NULL,
    aspect_scores jsonb DEFAULT '[]'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    last_used_at timestamp with time zone DEFAULT now() NOT NULL,
    hit_count bigint DEFAULT 1 NOT NULL
);


ALTER TABLE public.ai_grading_cache OWNER TO "user";

--
-- Name: ai_results; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.ai_results (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    submission_id uuid NOT NULL,
    skor_ai numeric(5,2) NOT NULL,
    umpan_balik_ai text,
    raw_response jsonb,
    generated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    logs_rag text
);


ALTER TABLE public.ai_results OWNER TO "user";

--
-- Name: announcements; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.announcements (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    type text NOT NULL,
    title text DEFAULT ''::text NOT NULL,
    content text NOT NULL,
    target_role text DEFAULT 'all'::text NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    starts_at timestamp with time zone,
    ends_at timestamp with time zone,
    created_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    icon text DEFAULT 'info'::text NOT NULL,
    CONSTRAINT announcements_icon_check CHECK ((icon = ANY (ARRAY['info'::text, 'warning'::text, 'danger'::text, 'bell'::text]))),
    CONSTRAINT announcements_target_role_check CHECK ((target_role = ANY (ARRAY['all'::text, 'student'::text, 'teacher'::text]))),
    CONSTRAINT announcements_type_check CHECK ((type = ANY (ARRAY['banner'::text, 'running_text'::text])))
);


ALTER TABLE public.announcements OWNER TO "user";

--
-- Name: class_members; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.class_members (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    class_id uuid NOT NULL,
    user_id uuid NOT NULL,
    joined_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    status character varying(20) DEFAULT 'approved'::character varying NOT NULL,
    requested_at timestamp with time zone DEFAULT now() NOT NULL,
    approved_at timestamp with time zone
);


ALTER TABLE public.class_members OWNER TO "user";

--
-- Name: class_teaching_modules; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.class_teaching_modules (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    class_id uuid NOT NULL,
    uploaded_by uuid,
    nama_modul character varying(255) NOT NULL,
    file_url text NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.class_teaching_modules OWNER TO "user";

--
-- Name: classes; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.classes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    class_name text NOT NULL,
    class_code text NOT NULL,
    teacher_id uuid NOT NULL,
    deskripsi text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    is_archived boolean DEFAULT false NOT NULL,
    announcement_enabled boolean DEFAULT false NOT NULL,
    announcement_title text DEFAULT ''::text NOT NULL,
    announcement_content text DEFAULT ''::text NOT NULL,
    announcement_tone text DEFAULT 'info'::text NOT NULL,
    announcement_starts_at timestamp with time zone,
    announcement_ends_at timestamp with time zone,
    join_policy text DEFAULT 'approval_required'::text NOT NULL,
    CONSTRAINT chk_classes_join_policy CHECK ((join_policy = ANY (ARRAY['approval_required'::text, 'open'::text, 'closed'::text])))
);


ALTER TABLE public.classes OWNER TO "user";

--
-- Name: essay_questions; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.essay_questions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    material_id uuid NOT NULL,
    teks_soal text NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    module_id uuid,
    level_kognitif text,
    ideal_answer text,
    keywords text[],
    weight numeric,
    rubrics jsonb,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    round_score_to_5 boolean DEFAULT false NOT NULL,
    round_score_step double precision DEFAULT 5 NOT NULL
);


ALTER TABLE public.essay_questions OWNER TO "user";

--
-- Name: essay_submissions; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.essay_submissions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    soal_id uuid NOT NULL,
    siswa_id uuid NOT NULL,
    teks_jawaban text NOT NULL,
    submitted_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    ai_grading_status text DEFAULT 'queued'::text NOT NULL,
    ai_graded_at timestamp with time zone,
    ai_grading_error text,
    submission_type text DEFAULT 'essay'::text NOT NULL,
    attempt_count integer DEFAULT 1 NOT NULL,
    CONSTRAINT chk_essay_submissions_submission_type CHECK ((submission_type = ANY (ARRAY['essay'::text, 'task'::text])))
);


ALTER TABLE public.essay_submissions OWNER TO "user";

--
-- Name: grade_appeals; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.grade_appeals (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    submission_id uuid NOT NULL,
    question_id uuid NOT NULL,
    class_id uuid NOT NULL,
    student_id uuid NOT NULL,
    reason_type text DEFAULT 'nilai_tidak_sesuai'::text NOT NULL,
    reason_text text NOT NULL,
    attachment_url text,
    status text DEFAULT 'open'::text NOT NULL,
    teacher_response text,
    resolved_by uuid,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    resolved_at timestamp with time zone,
    CONSTRAINT chk_grade_appeals_status CHECK ((status = ANY (ARRAY['open'::text, 'in_review'::text, 'resolved_accepted'::text, 'resolved_rejected'::text, 'withdrawn'::text])))
);


ALTER TABLE public.grade_appeals OWNER TO "user";

--
-- Name: materials; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.materials (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    class_id uuid NOT NULL,
    uploader_id uuid NOT NULL,
    judul text NOT NULL,
    isi_materi text,
    file_url text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    capaian_pembelajaran text,
    kata_kunci text[],
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    display_order integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.materials OWNER TO "user";

--
-- Name: modules; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.modules (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    material_id uuid NOT NULL,
    nama_modul character varying(255) NOT NULL,
    file_url text NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.modules OWNER TO "user";

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.notifications (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    role text NOT NULL,
    external_key text NOT NULL,
    category text NOT NULL,
    title text NOT NULL,
    message text NOT NULL,
    href text,
    payload jsonb DEFAULT '{}'::jsonb NOT NULL,
    is_read boolean DEFAULT false NOT NULL,
    read_at timestamp with time zone,
    is_active boolean DEFAULT true NOT NULL,
    event_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.notifications OWNER TO "user";

--
-- Name: profile_change_requests; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.profile_change_requests (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    requested_changes jsonb NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    reason text,
    reviewer_id uuid,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    reviewed_at timestamp with time zone,
    request_type text DEFAULT 'profile_change'::text NOT NULL
);


ALTER TABLE public.profile_change_requests OWNER TO "user";

--
-- Name: question_bank_entries; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.question_bank_entries (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    created_by uuid NOT NULL,
    class_id uuid NOT NULL,
    source_material_id uuid,
    source_question_id uuid,
    teks_soal text NOT NULL,
    level_kognitif text,
    keywords text[],
    ideal_answer text,
    weight numeric(10,2),
    rubrics jsonb DEFAULT '[]'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    subject text DEFAULT ''::text NOT NULL,
    tags text[] DEFAULT '{}'::text[] NOT NULL
);


ALTER TABLE public.question_bank_entries OWNER TO "user";

--
-- Name: rubric_templates; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.rubric_templates (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    created_by uuid NOT NULL,
    title text NOT NULL,
    rubric_type text NOT NULL,
    rubrics jsonb DEFAULT '[]'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.rubric_templates OWNER TO "user";

--
-- Name: rubrics; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.rubrics (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    question_id uuid NOT NULL,
    nama_aspek text NOT NULL,
    deskripsi text,
    max_score integer NOT NULL,
    descriptors jsonb NOT NULL,
    bobot double precision NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.rubrics OWNER TO "user";

--
-- Name: schema_migrations; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.schema_migrations (
    version bigint NOT NULL,
    dirty boolean NOT NULL
);


ALTER TABLE public.schema_migrations OWNER TO "user";

--
-- Name: section_contents; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.section_contents (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    section_id uuid NOT NULL,
    content_type text NOT NULL,
    title text NOT NULL,
    body text,
    linked_material_id uuid,
    display_order integer DEFAULT 0 NOT NULL,
    status text DEFAULT 'draft'::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT section_contents_content_type_check CHECK ((content_type = ANY (ARRAY['materi'::text, 'soal'::text, 'tugas'::text, 'penilaian'::text]))),
    CONSTRAINT section_contents_status_check CHECK ((status = ANY (ARRAY['draft'::text, 'published'::text])))
);


ALTER TABLE public.section_contents OWNER TO "user";

--
-- Name: sections; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.sections (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    class_id uuid NOT NULL,
    title text NOT NULL,
    description text,
    display_order integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.sections OWNER TO "user";

--
-- Name: system_settings; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.system_settings (
    key text NOT NULL,
    value text NOT NULL,
    description text,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.system_settings OWNER TO "user";

--
-- Name: teacher_reviews; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.teacher_reviews (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    submission_id uuid NOT NULL,
    teacher_id uuid NOT NULL,
    revised_score numeric(5,2) NOT NULL,
    teacher_feedback text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.teacher_reviews OWNER TO "user";

--
-- Name: users; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    nama_lengkap text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    peran public.user_role NOT NULL,
    nomor_identitas text,
    username text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    foto_profil_url text,
    mata_pelajaran text,
    kelas_tingkat text,
    institusi text,
    bahasa text DEFAULT 'id'::text,
    notif_email boolean DEFAULT true,
    notif_inapp boolean DEFAULT true,
    last_login_at timestamp with time zone,
    tanggal_lahir date,
    mata_pelajaran_tambahan text,
    pengalaman_mengajar integer,
    tingkat_ajar text,
    rombel_aktif text,
    is_wali_kelas boolean DEFAULT false,
    no_whatsapp text,
    bio_singkat text,
    is_teacher_verified boolean DEFAULT true NOT NULL,
    ui_preferences jsonb DEFAULT '{}'::jsonb NOT NULL
);


ALTER TABLE public.users OWNER TO "user";

--
-- Name: admin_audit_logs admin_audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.admin_audit_logs
    ADD CONSTRAINT admin_audit_logs_pkey PRIMARY KEY (id);


--
-- Name: ai_api_usage_logs ai_api_usage_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.ai_api_usage_logs
    ADD CONSTRAINT ai_api_usage_logs_pkey PRIMARY KEY (id);


--
-- Name: ai_grading_cache ai_grading_cache_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.ai_grading_cache
    ADD CONSTRAINT ai_grading_cache_pkey PRIMARY KEY (request_hash);


--
-- Name: ai_results ai_results_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.ai_results
    ADD CONSTRAINT ai_results_pkey PRIMARY KEY (id);


--
-- Name: ai_results ai_results_submission_id_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.ai_results
    ADD CONSTRAINT ai_results_submission_id_key UNIQUE (submission_id);


--
-- Name: announcements announcements_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.announcements
    ADD CONSTRAINT announcements_pkey PRIMARY KEY (id);


--
-- Name: class_members class_members_class_id_user_id_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.class_members
    ADD CONSTRAINT class_members_class_id_user_id_key UNIQUE (class_id, user_id);


--
-- Name: class_members class_members_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.class_members
    ADD CONSTRAINT class_members_pkey PRIMARY KEY (id);


--
-- Name: class_teaching_modules class_teaching_modules_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.class_teaching_modules
    ADD CONSTRAINT class_teaching_modules_pkey PRIMARY KEY (id);


--
-- Name: classes classes_class_code_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_class_code_key UNIQUE (class_code);


--
-- Name: classes classes_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_pkey PRIMARY KEY (id);


--
-- Name: essay_questions essay_questions_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.essay_questions
    ADD CONSTRAINT essay_questions_pkey PRIMARY KEY (id);


--
-- Name: essay_submissions essay_submissions_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.essay_submissions
    ADD CONSTRAINT essay_submissions_pkey PRIMARY KEY (id);


--
-- Name: grade_appeals grade_appeals_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.grade_appeals
    ADD CONSTRAINT grade_appeals_pkey PRIMARY KEY (id);


--
-- Name: materials materials_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.materials
    ADD CONSTRAINT materials_pkey PRIMARY KEY (id);


--
-- Name: modules modules_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.modules
    ADD CONSTRAINT modules_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_user_id_external_key_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_external_key_key UNIQUE (user_id, external_key);


--
-- Name: profile_change_requests profile_change_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.profile_change_requests
    ADD CONSTRAINT profile_change_requests_pkey PRIMARY KEY (id);


--
-- Name: question_bank_entries question_bank_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.question_bank_entries
    ADD CONSTRAINT question_bank_entries_pkey PRIMARY KEY (id);


--
-- Name: rubric_templates rubric_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.rubric_templates
    ADD CONSTRAINT rubric_templates_pkey PRIMARY KEY (id);


--
-- Name: rubrics rubrics_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.rubrics
    ADD CONSTRAINT rubrics_pkey PRIMARY KEY (id);


--
-- Name: schema_migrations schema_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.schema_migrations
    ADD CONSTRAINT schema_migrations_pkey PRIMARY KEY (version);


--
-- Name: section_contents section_contents_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.section_contents
    ADD CONSTRAINT section_contents_pkey PRIMARY KEY (id);


--
-- Name: sections sections_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.sections
    ADD CONSTRAINT sections_pkey PRIMARY KEY (id);


--
-- Name: system_settings system_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.system_settings
    ADD CONSTRAINT system_settings_pkey PRIMARY KEY (key);


--
-- Name: teacher_reviews teacher_reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.teacher_reviews
    ADD CONSTRAINT teacher_reviews_pkey PRIMARY KEY (id);


--
-- Name: teacher_reviews teacher_reviews_submission_id_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.teacher_reviews
    ADD CONSTRAINT teacher_reviews_submission_id_key UNIQUE (submission_id);


--
-- Name: essay_submissions uq_essay_submissions_soal_siswa; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.essay_submissions
    ADD CONSTRAINT uq_essay_submissions_soal_siswa UNIQUE (soal_id, siswa_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: idx_admin_audit_logs_action_created_at; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_admin_audit_logs_action_created_at ON public.admin_audit_logs USING btree (action, created_at DESC);


--
-- Name: idx_admin_audit_logs_actor_id_created_at; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_admin_audit_logs_actor_id_created_at ON public.admin_audit_logs USING btree (actor_id, created_at DESC);


--
-- Name: idx_admin_audit_logs_created_at; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_admin_audit_logs_created_at ON public.admin_audit_logs USING btree (created_at DESC);


--
-- Name: idx_ai_api_usage_logs_created_at; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_ai_api_usage_logs_created_at ON public.ai_api_usage_logs USING btree (created_at DESC);


--
-- Name: idx_ai_api_usage_logs_feature_created_at; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_ai_api_usage_logs_feature_created_at ON public.ai_api_usage_logs USING btree (feature, created_at DESC);


--
-- Name: idx_ai_api_usage_logs_status_created_at; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_ai_api_usage_logs_status_created_at ON public.ai_api_usage_logs USING btree (status, created_at DESC);


--
-- Name: idx_ai_grading_cache_last_used_at; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_ai_grading_cache_last_used_at ON public.ai_grading_cache USING btree (last_used_at DESC);


--
-- Name: idx_announcements_active_role_time; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_announcements_active_role_time ON public.announcements USING btree (is_active, target_role, starts_at, ends_at, created_at DESC);


--
-- Name: idx_class_members_class_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_class_members_class_id ON public.class_members USING btree (class_id);


--
-- Name: idx_class_members_class_status; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_class_members_class_status ON public.class_members USING btree (class_id, status);


--
-- Name: idx_class_members_user_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_class_members_user_id ON public.class_members USING btree (user_id);


--
-- Name: idx_class_teaching_modules_class_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_class_teaching_modules_class_id ON public.class_teaching_modules USING btree (class_id);


--
-- Name: idx_classes_class_code; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_classes_class_code ON public.classes USING btree (class_code);


--
-- Name: idx_classes_teacher_archived; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_classes_teacher_archived ON public.classes USING btree (teacher_id, is_archived);


--
-- Name: idx_classes_teacher_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_classes_teacher_id ON public.classes USING btree (teacher_id);


--
-- Name: idx_essay_questions_material_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_essay_questions_material_id ON public.essay_questions USING btree (material_id);


--
-- Name: idx_essay_submissions_ai_grading_status; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_essay_submissions_ai_grading_status ON public.essay_submissions USING btree (ai_grading_status);


--
-- Name: idx_essay_submissions_submission_type; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_essay_submissions_submission_type ON public.essay_submissions USING btree (submission_type);


--
-- Name: idx_grade_appeals_class_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_grade_appeals_class_id ON public.grade_appeals USING btree (class_id);


--
-- Name: idx_grade_appeals_status; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_grade_appeals_status ON public.grade_appeals USING btree (status);


--
-- Name: idx_grade_appeals_student_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_grade_appeals_student_id ON public.grade_appeals USING btree (student_id);


--
-- Name: idx_grade_appeals_submission_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_grade_appeals_submission_id ON public.grade_appeals USING btree (submission_id);


--
-- Name: idx_materials_class_display_order; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_materials_class_display_order ON public.materials USING btree (class_id, display_order);


--
-- Name: idx_materials_class_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_materials_class_id ON public.materials USING btree (class_id);


--
-- Name: idx_materials_uploader_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_materials_uploader_id ON public.materials USING btree (uploader_id);


--
-- Name: idx_notifications_user_event; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_notifications_user_event ON public.notifications USING btree (user_id, event_at DESC);


--
-- Name: idx_notifications_user_read_active; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_notifications_user_read_active ON public.notifications USING btree (user_id, is_read, is_active, event_at DESC);


--
-- Name: idx_profile_change_requests_request_type; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_profile_change_requests_request_type ON public.profile_change_requests USING btree (request_type);


--
-- Name: idx_profile_change_requests_status; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_profile_change_requests_status ON public.profile_change_requests USING btree (status);


--
-- Name: idx_profile_change_requests_user_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_profile_change_requests_user_id ON public.profile_change_requests USING btree (user_id);


--
-- Name: idx_question_bank_entries_class_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_question_bank_entries_class_id ON public.question_bank_entries USING btree (class_id);


--
-- Name: idx_question_bank_entries_created_by; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_question_bank_entries_created_by ON public.question_bank_entries USING btree (created_by);


--
-- Name: idx_question_bank_entries_source_material_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_question_bank_entries_source_material_id ON public.question_bank_entries USING btree (source_material_id);


--
-- Name: idx_question_bank_entries_subject; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_question_bank_entries_subject ON public.question_bank_entries USING btree (subject);


--
-- Name: idx_question_bank_entries_tags; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_question_bank_entries_tags ON public.question_bank_entries USING gin (tags);


--
-- Name: idx_rubric_templates_created_by; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_rubric_templates_created_by ON public.rubric_templates USING btree (created_by);


--
-- Name: idx_rubrics_question_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_rubrics_question_id ON public.rubrics USING btree (question_id);


--
-- Name: idx_section_contents_section_display_order; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_section_contents_section_display_order ON public.section_contents USING btree (section_id, display_order);


--
-- Name: idx_sections_class_display_order; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_sections_class_display_order ON public.sections USING btree (class_id, display_order);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_username; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_users_username ON public.users USING btree (username);


--
-- Name: uq_grade_appeals_active_per_submission_student; Type: INDEX; Schema: public; Owner: user
--

CREATE UNIQUE INDEX uq_grade_appeals_active_per_submission_student ON public.grade_appeals USING btree (submission_id, student_id) WHERE (status = ANY (ARRAY['open'::text, 'in_review'::text]));


--
-- Name: admin_audit_logs admin_audit_logs_actor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.admin_audit_logs
    ADD CONSTRAINT admin_audit_logs_actor_id_fkey FOREIGN KEY (actor_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: ai_results ai_results_submission_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.ai_results
    ADD CONSTRAINT ai_results_submission_id_fkey FOREIGN KEY (submission_id) REFERENCES public.essay_submissions(id) ON DELETE CASCADE;


--
-- Name: announcements announcements_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.announcements
    ADD CONSTRAINT announcements_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: class_members class_members_class_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.class_members
    ADD CONSTRAINT class_members_class_id_fkey FOREIGN KEY (class_id) REFERENCES public.classes(id) ON DELETE CASCADE;


--
-- Name: class_members class_members_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.class_members
    ADD CONSTRAINT class_members_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: class_teaching_modules class_teaching_modules_class_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.class_teaching_modules
    ADD CONSTRAINT class_teaching_modules_class_id_fkey FOREIGN KEY (class_id) REFERENCES public.classes(id) ON DELETE CASCADE;


--
-- Name: class_teaching_modules class_teaching_modules_uploaded_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.class_teaching_modules
    ADD CONSTRAINT class_teaching_modules_uploaded_by_fkey FOREIGN KEY (uploaded_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: classes classes_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_teacher_id_fkey FOREIGN KEY (teacher_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: essay_questions essay_questions_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.essay_questions
    ADD CONSTRAINT essay_questions_material_id_fkey FOREIGN KEY (material_id) REFERENCES public.materials(id) ON DELETE CASCADE;


--
-- Name: essay_questions essay_questions_module_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.essay_questions
    ADD CONSTRAINT essay_questions_module_id_fkey FOREIGN KEY (module_id) REFERENCES public.modules(id) ON DELETE SET NULL;


--
-- Name: essay_submissions essay_submissions_siswa_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.essay_submissions
    ADD CONSTRAINT essay_submissions_siswa_id_fkey FOREIGN KEY (siswa_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: essay_submissions essay_submissions_soal_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.essay_submissions
    ADD CONSTRAINT essay_submissions_soal_id_fkey FOREIGN KEY (soal_id) REFERENCES public.essay_questions(id) ON DELETE CASCADE;


--
-- Name: grade_appeals grade_appeals_class_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.grade_appeals
    ADD CONSTRAINT grade_appeals_class_id_fkey FOREIGN KEY (class_id) REFERENCES public.classes(id) ON DELETE CASCADE;


--
-- Name: grade_appeals grade_appeals_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.grade_appeals
    ADD CONSTRAINT grade_appeals_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.essay_questions(id) ON DELETE CASCADE;


--
-- Name: grade_appeals grade_appeals_resolved_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.grade_appeals
    ADD CONSTRAINT grade_appeals_resolved_by_fkey FOREIGN KEY (resolved_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: grade_appeals grade_appeals_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.grade_appeals
    ADD CONSTRAINT grade_appeals_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: grade_appeals grade_appeals_submission_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.grade_appeals
    ADD CONSTRAINT grade_appeals_submission_id_fkey FOREIGN KEY (submission_id) REFERENCES public.essay_submissions(id) ON DELETE CASCADE;


--
-- Name: materials materials_class_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.materials
    ADD CONSTRAINT materials_class_id_fkey FOREIGN KEY (class_id) REFERENCES public.classes(id) ON DELETE CASCADE;


--
-- Name: materials materials_uploader_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.materials
    ADD CONSTRAINT materials_uploader_id_fkey FOREIGN KEY (uploader_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: modules modules_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.modules
    ADD CONSTRAINT modules_material_id_fkey FOREIGN KEY (material_id) REFERENCES public.materials(id) ON DELETE CASCADE;


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: profile_change_requests profile_change_requests_reviewer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.profile_change_requests
    ADD CONSTRAINT profile_change_requests_reviewer_id_fkey FOREIGN KEY (reviewer_id) REFERENCES public.users(id);


--
-- Name: profile_change_requests profile_change_requests_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.profile_change_requests
    ADD CONSTRAINT profile_change_requests_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: question_bank_entries question_bank_entries_class_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.question_bank_entries
    ADD CONSTRAINT question_bank_entries_class_id_fkey FOREIGN KEY (class_id) REFERENCES public.classes(id) ON DELETE CASCADE;


--
-- Name: question_bank_entries question_bank_entries_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.question_bank_entries
    ADD CONSTRAINT question_bank_entries_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: question_bank_entries question_bank_entries_source_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.question_bank_entries
    ADD CONSTRAINT question_bank_entries_source_material_id_fkey FOREIGN KEY (source_material_id) REFERENCES public.materials(id) ON DELETE SET NULL;


--
-- Name: question_bank_entries question_bank_entries_source_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.question_bank_entries
    ADD CONSTRAINT question_bank_entries_source_question_id_fkey FOREIGN KEY (source_question_id) REFERENCES public.essay_questions(id) ON DELETE SET NULL;


--
-- Name: rubric_templates rubric_templates_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.rubric_templates
    ADD CONSTRAINT rubric_templates_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: rubrics rubrics_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.rubrics
    ADD CONSTRAINT rubrics_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.essay_questions(id) ON DELETE CASCADE;


--
-- Name: section_contents section_contents_linked_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.section_contents
    ADD CONSTRAINT section_contents_linked_material_id_fkey FOREIGN KEY (linked_material_id) REFERENCES public.materials(id) ON DELETE SET NULL;


--
-- Name: section_contents section_contents_section_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.section_contents
    ADD CONSTRAINT section_contents_section_id_fkey FOREIGN KEY (section_id) REFERENCES public.sections(id) ON DELETE CASCADE;


--
-- Name: sections sections_class_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.sections
    ADD CONSTRAINT sections_class_id_fkey FOREIGN KEY (class_id) REFERENCES public.classes(id) ON DELETE CASCADE;


--
-- Name: teacher_reviews teacher_reviews_submission_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.teacher_reviews
    ADD CONSTRAINT teacher_reviews_submission_id_fkey FOREIGN KEY (submission_id) REFERENCES public.essay_submissions(id) ON DELETE CASCADE;


--
-- Name: teacher_reviews teacher_reviews_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.teacher_reviews
    ADD CONSTRAINT teacher_reviews_teacher_id_fkey FOREIGN KEY (teacher_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict kHEm4JH6eTLWyqRwFS7CQwLONudlpjQGobFUDcAbrn7okcKN4wppS9lHovor9HS

